<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Northwind CRUD</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav" *ngIf="usuarioActual">
        
        <ng-container *ngIf="usuarioActual.rol === 'ADMIN'">
          <li class="nav-item"><a class="nav-link" routerLink="/products">Inventario</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/categorias">Categorías</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/usuarios">Usuarios</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/pedidos">Ventas Totales</a></li>
        </ng-container>

        <ng-container *ngIf="usuarioActual.rol === 'CLIENTE'">
          <li class="nav-item"><a class="nav-link text-warning fw-bold" routerLink="/tienda">🏪 Ir a la Tienda</a></li>
<li class="nav-item"><a class="nav-link" routerLink="/mis-pedidos">Mis Pedidos</a></li>
          </ng-container>

      </ul>

      <div class="d-flex ms-auto align-items-center text-white pr-3">
        
        <ng-container *ngIf="!usuarioActual">
          <a class="btn btn-outline-light btn-sm me-2" routerLink="/login">Iniciar Sesión</a>
          <a class="btn btn-success btn-sm" routerLink="/registro">Registrarse</a>
        </ng-container>

        <ng-container *ngIf="usuarioActual">
          <span class="me-3">¡Hola, {{ usuarioActual.nombre }}!</span>
          <button class="btn btn-danger btn-sm" (click)="cerrarSesion()">Cerrar Sesión</button>
        </ng-container>

      </div>
    </div>
  </div>
</nav>