<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-warning text-dark">
          <h4 class="mb-0">Editar Usuario</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="actualizarUsuario()">
            
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre" required autofocus>
            </div>

            <div class="mb-3">
              <label class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" name="correo" [(ngModel)]="usuario.correo" required>
            </div>

            <div class="mb-3">
          <label class="form-label text-primary fw-bold">Nivel de Acceso (Rol)</label>
          <select class="form-select border-primary" name="rol" [(ngModel)]="usuario.rol" required>
            <option value="CLIENTE">Usuario Cliente (Solo Tienda)</option>
            <option value="ADMIN">Administrador (Control Total)</option>
          </select>
          <div class="form-text">Ten cuidado a quién le das el rol de Administrador.</div>
        </div>

            <div class="d-flex justify-content-between">
              <a routerLink="/usuarios" class="btn btn-secondary">Cancelar</a>
              <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>